/.*
/http/*
!/http/action
!/http/admin
!/http/favicon.ico
!/http/robots.txt
/library
/logs
/vendor
/temporary
composer.phar
composer.lock
!/.gitignore
# Add by migration "moro/team-migrations-common:update.vcs.ignore".
storage/