/.*
/web/*
!/web/action
!/web/admin
!/web/favicon.ico
!/web/robots.txt
/logs
/vendor/
/temporary
composer.phar
composer.lock
!/.gitignore
# Add by migration "moro/team-migrations-common:update.vcs.ignore".
storage/