<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<!-- <title>~ Карта сайта ~</title> -->

	{% for item in items -%}
	<url>
		<loc>http://{{ host ~ item.file|replace({"/index.html": "/"}) }}</loc>
		<lastmod>{{ item.updated_at|date(w3c) }}</lastmod>
	</url>
	{% endfor %}

</urlset>